SPRING_DATASOURCE_USERNAME=*
DB_PASSWORD=*
SPRING_DATASOURCE_URL=*

MINIO_ROOT_USER=*
MINIO_ROOT_PASSWORD=*

MINIO_PUBLIC_URL=*
MINIO_CONSOLE_URL=*

REMEMBER_ME_KEY=*

STEAM_API_KEY=*
OPENROUTER_API_KEY=*